<nav class="navbar navbar-light bg-primary"> <!-- bg é cor de fundo e navbar-dark a cor do testo é clara e navbar-light a cor do texto é escura -->
    <a class="navbar-brand "href="/">
        <img src="/img/guia.png">
    </a>
</nav>